@import url("https://fonts.googleapis.com/css?family=Lato:400,700");


/* Here is the setup to our design*/
:root {
  --primaryColor: #1f1c19;
  --mainWhite: rgba(194, 184, 183, 0.979);
  --mainBlack: rgb(170, 169, 209);
  --mainGrey: #ececec;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Here we edit our body*/
body {
  color: var(--mainBlack); /* Edit the bars and cart color*/
  background: var(--mainWhite); /* Edit the background color*/
  font-family: "Lato", sans-serif;
}

/* --------------- Navbar ---------------- */
.navbar {
  position: sticky;
  top: 0;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  background: var(--mainWhite);
  z-index: 1;
}
/* Edit items positions*/
.navbar-center {
  width: 90%;
  max-width: 1170px; /*Edit the distance between bars and cart*/
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
}
/* Edit the size of cart and bars*/
.nav-icon {
  font-size: 1.5rem;
}

/* Edit the cart-btn*/
.cart-btn {
  position: relative;
  cursor: pointer;
}

/*Edit the cart-items above cart-btn*/
.cart-items {
  position: absolute;
  top: -12px;
  right: -8px;
  background: var(--primaryColor);
  padding: 0 5px;
  border-radius: 20%;
  color: var(--mainWhite);
}

/* Edit the class hero*/
.hero {
  min-height: calc(100vh - 90px);
  background: url("./images/hero1.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Edit the class banner*/
.banner {
  text-align: center;
  background: rgba(3, 3, 3, 0.8); /* Edit the banner color*/
  display: inline-block;
  padding: 2rem; /*Edit the banner padding*/
  border-radius: 50px;
}
.banner-title {
  font-size: 3.4rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 3rem;
}

.banner-title:hover{
  background: -webkit-linear-gradient( aliceblue,rgb(7, 7, 63));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}

.banner-btn {
  border-radius: 30px;
  padding: 1rem 3rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  font-size: 1rem;
  background: var(--primaryColor);
  color: var(--mainBlack);
  border: 3px solid var(--primaryColor);
  transition: var(--mainTransition);
  cursor: pointer;
}
.banner-btn:hover {
  background: transparent;
  color: aliceblue;
}

/*-------- End of Hero------------*/




/*--------- Begin Products Section------*/

/* Edit the class button*/
.ourproducts{
  background-color:var(--mainWhite); /* Green */
  border: none;
  border-radius: 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 2px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  width: 20%;
  margin-left:40%;
  margin-right:40%;
  margin-bottom: 3%;
 
}

.ourproducts:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 10px 20px 0 rgba(3,3,0,0.19);
}

.products {
  padding: 4rem 0;
}
.section-title h2 {
  color: black;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}


/* Very important class to edit grid property.*/
.products-center{
  /*It makes images to be aligned horizontally*/
  width: 90vw;
  margin: 0 auto;
  max-width: 1000px;
  /* The CSS Grid Layout Module offers a grid-based layout system, with rows and columns, 
  making it easier to design web pages without having to use floats and positioning.*/
  display: grid;
  /*It makes image product to be aligned */
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 1rem;
}

.img-container {
  position: relative;
  overflow: hidden;
}
.bag-btn {
  color: aliceblue;
  position: absolute;
  top: 70%;
  right: 0;
  background: var(--primaryColor);
  border: none;
  text-transform: uppercase;
  padding: 0.5rem 0.75rem;
  letter-spacing: var(--mainSpacing);
  font-weight: bold;
  transition: var(--mainTransition);
  transform: translateX(101%);
  cursor: pointer;
}
.bag-btn:hover {
  color: rgb(79, 79, 126);
}
.fa-shopping-cart {
  margin-right: 0.5rem;
}
.img-container:hover .bag-btn {
  transform: translateX(0);
}

.product-img {
  display: block;
  width: 100%;
  min-height: 12rem;
  transition: var(--mainTransition);
}
.img-container:hover .product-img {
  opacity: 0.3;
}

.product h3 {
  color:black;
  text-transform: capitalize;
  font-size: 1.1rem;
  margin-top: 1rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}

.product h4 {
  color: rgb(79, 79, 126);
  background: transparent;
  font-weight: bold;
  margin-top: 0.7rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
  font-size:20px;
}